/* Resetting some default styles */
body,
h1,
h2,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

h1,
h2 {
    color: #333;
}

img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto 10px;
}

ol {
    margin: 10px 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        text-align: center;
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}